<mat-card class="ssp-card">
    <app-oponent-type
        [(opponentType)]="opponentType"
        class="opponent-select">
    </app-oponent-type>
 
    <h2>Stone, Paper, Scissors</h2>
    
    <app-move-options
       *ngIf="!playerMove && !loading"
       (selectedOptionChange)="play($event)">
    </app-move-options>
    
    <div *ngIf="loading" class="loading-container">
      <mat-progress-spinner
        mode="indeterminate"
        diameter="50"
        color="primary">
      </mat-progress-spinner>
    </div>
    
    <app-result
      *ngIf="playerMove && !loading"
      [playerMove]="playerMove"
      [computerMove]="computerMove"
      [result]="result"
      (playAgain)="reset()">
    </app-result>

  </mat-card>